.main-app-container {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #F0F2F5;
    overflow-y: auto;
    overflow-x: hidden;
}

.navbar {
    width: 100%;
}

.main-app-content {
    height: -webkit-fill-available;
}