<div class="main-container">
    <div class="container-box">
        <div class="container-header">
            <div class="page-title">
                Participants registration
            </div>
        </div>
        <table class="w-75 mx-auto table mytable mb-4">
            <thead>
                <tr>
                    <th class="align-top">Category</th>
                    <th class="text-center">Early Registration<br>31 January - 31 March 2025</th>
                    <th class="text-center">Late Registration<br>1 April - 19 May 2025</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Non-Student, Non-IEEE Member</td>
                    <td class="text-center">550 TND</td>
                    <td class="text-center">600 TND</td>
                </tr>
                <tr>
                    <td>Non-Student, IEEE Member</td>
                    <td class="text-center">500 TND</td>
                    <td class="text-center">550 TND</td>
                </tr>
                <tr>
                    <td>Student, Non-IEEE Member</td>
                    <td class="text-center">450 TND</td>
                    <td class="text-center">500 TND</td>
                </tr>
                <tr>
                    <td>iTeam Student</td>
                    <td class="text-center">FREE</td>
                    <td class="text-center">BEST OF THE BEST</td>
                </tr>
                <tr>
                    <td>Accompanying Person (participation in all social events)</td>
                    <td class="text-center">100 TND</td>
                    <td class="text-center">100 TND</td>
                </tr>
            </tbody>
        </table>
        <div class="btn-container w-75 mx-auto">
            <button class="primary-btn">Register now</button>
        </div>
    </div>
</div>

