<div class="main-container">
    <div class="container-box" style="padding-bottom: 0px; margin-bottom: 20px;">
        <div class="container-header">
            <div class="page-title">
                Our Conference Chair
            </div>
        </div>
        <div class="container-content">
            <ul class="list-group mb-5">
                <li class="list-group-item">3am el Hedi</li>
            </ul>
        </div>
    </div>
    <div class="container-box">
        <div class="container-header">
            <div class="page-title">
                Our Organizing Committee
            </div>
        </div>
        <div class="container-content">
            <ul class="list-group mb-5">
                <li class="list-group-item">Nektarios Chrysoulakis</li>
                <li class="list-group-item">Zina Mitraka</li>
                <li class="list-group-item">Dimitris Poursanidis</li>
                <li class="list-group-item">Giorgos Somarakis</li>
                <li class="list-group-item">Vasileios Geladaris</li>
                <li class="list-group-item">Giannis Lantzanakis</li>
                <li class="list-group-item">Dimitris Tsirantonakis</li>
                <li class="list-group-item">David Parastatidis</li>
                <li class="list-group-item">Emmanouil Panagiotakis</li>
                <li class="list-group-item">Konstantinos Politakos</li>
                <li class="list-group-item">Maria Gkolemi</li>
                <li class="list-group-item">Nektarios Spyridakis</li>
            </ul>
        </div>
    </div>
</div>