<div class="navbar-container">
    <div class="navbar-logo">
        <img src="assets/images/logo_jurse.png" alt="logo" />
    </div>
    <div class="navbar-links">
        <a routerLink="/jurse/home" routerLinkActive="active">Home</a>
        <a routerLink="/jurse/dates" routerLinkActive="active">Dates</a>
        <a routerLink="/jurse/participation" routerLinkActive="active">Participation</a>
        <a routerLink="/jurse/presentation" routerLinkActive="active">Presentation</a>
        <a routerLink="/jurse/commitees" routerLinkActive="active">Commitees</a>
        <a routerLink="/jurse/sponsors" routerLinkActive="active">Sponsors</a>
        <a routerLink="/jurse/venue" routerLinkActive="active">Venue</a>
        <a routerLink="/jurse/media" routerLinkActive="active">Media</a>
        <a routerLink="/jurse/contact" routerLinkActive="active">Contact</a>
    </div>
    <div></div>
</div>